@tailwind base;
@tailwind components;
@tailwind utilities;

.card-shadow {
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
}

:root {
  /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #ffffff;
  --sys-color-black: #000000;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

::selection {
  background-color: aliceblue;
}
