---
import Layout from '@layouts/Default.astro';
import { Card, Button } from '@eliancodes/brutal-ui';

const socialLinks= [
  {
    name: 'GitHub',
    url: 'https://github.com/timrbula',
    color: "#f87171"
  },
  {
    name: 'Bluesky',
    url: 'https://bsky.app/profile/timrbula.com',
    color: "#22d3ee"
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/timothy-bula-90a33b44/',
    color: "#facc15"
  }
];


---

<Layout
  title='Home'
  pageTitle='timrbula | Home'
  description='My home in the digital world.'
>
  <main class='bg-pink p-6 flex-grow'>
    <section id='about' class='grid grid-cols-4 gap-6 mt-4 max-w-256 m-auto'>
      <h2 class='hidden'>About</h2>
      <div class='col-span-4'>
        <Card color="#f87171">
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='my-4 outfit text-4xl md:text-5xl lg:text-7xl'>
              The web home for <span
                class='text-white'
                >timrbula</span
              >
            </p>
          </div>
        </Card>
      </div>
      <div class='col-span-4 outfit'>
        <Card color="#22d3ee"><p class="text-6">Hi, I'm Tim. I hope this site finds you well! I'm currently working as a research engineer at <a class="underline" href="https://research.ibm.com/">IBM Research </a> focused on code LLMs. I'm a proud graduate of the public universities Georgia Tech and UT Austin.</p></Card>
      </div>
      <div class='col-span-4 outfit'>
        <Card color="#facc15"><p class="text-6">New York City is where I call home. Besides computers, I'm interested in music, Spanish, politics, and basketball. Say hi back 🌎</p></Card>
      </div>
    <div class="col-span-4 flex gap-6">
      {socialLinks.map(link => {
          return <Button color={link.color} href={link.url}>{link.name}</Button>
      })}
    </div>
    </section>
  </main>
</Layout>
